.header {
  border-radius: 100px;
  margin: 32px auto 24px;
  position: relative; 
}

.header::before {
  background: pink;
  width: 200px;
  height: 120px;
  position: absolute;
  top: 72px;
  transform: skewY(-5deg);
  z-index: -1;
  content: "";
}

.header h1 {
  line-height: 1;
  font-family: "Yellowtail", cursive;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  transform: rotate(-6deg);
  text-align: center;
  margin-bottom: 24px;
  background: red;
  box-shadow: 0 0 0 5px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

