nav {
	list-style: none;
	padding: 0 5px;
	text-align: center;
	font-family: "Cascadia Code", sans-serif;
	font-size: x-large;
	top: 0;

	ul {
    margin: 0;
    padding: 0;
  }

	li {
		background:#104b4c;
		display: inline-block;
		margin: 5px 2.5px;
		border-radius: 36px 6px;
		box-shadow: 2px 2px 0px white, 4px 4px 0px #104b4c;
		position: relative;
		top: 0;
		left: 0;
		transition: 200ms all;
		a {
			text-decoration: none;
			color: white;
			display: block;
			padding: 10px 20px;
		}
		&:hover {
			box-shadow: 0px 0px 0px white, 2px 2px 0px darken(red, 15%);
			top: 2px;
			left: 2px;
		}
		&:active {
			box-shadow: 0 0 0 white, 0 0 0 red;
			top: 4px;
			left: 4px;
		}
	}
}
